<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/contents.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <title>See</title>
    <script src="https://kit.fontawesome.com/44abc8888a.js" crossorigin="anonymous"></script>



</head>
<body>
<div class="home">
    <img class = "ad" src="../static/assets/main_movie.webp">
    <div class="overlay">
        <header class = "header">
            <img class="logo" src="../static/assets/logo.png">
            <div class="nav">
                <div class="nav-item" onclick="goToHome()">홈</div>
                <div class="nav-item" onclick="goToMovie()">영화 </div>
                <div class="nav-item" onclick="goToContents()">NEW! 요즘 대새 콘텐츠</div>
                <div class="nav-item" onclick="goToWish()">내가 찜한 리스트</div>
            </div>
            <div class="menu">
                <div class ="search" onclick="goToSearch()">
                    <i class="fa-solid fa-magnifying-glass fa-2x" style="color: #ffffff;" ></i>
                </div>
                <div class="notifications-icon-container" onclick="goToNotifications()">
                    <img class="notifications-icon" src="../static/assets/notification.png">
                    <div class="notifications-count"></div>
                </div>
                <img class="profile" src="../static/assets/profile.webp" onclick="goToProfile()">
            </div>
        </header>
    </div>

    <div class = "banner">
        <img class = "ad-title" src="../static/assets/main_movie_title.webp">
        <div class = "comment">영상소개</div>
        <div class = "description">영상소개글<br>
        </div>
        <div class = "buttons">
            <div class = play-button onclick="playVideo()">
                <i class="fa-solid fa-play" style="color: #000000;"></i>
                재생
            </div>
            <div class = info-button onclick="infoVideo()">
                <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i>
                상세 정보
            </div>
        </div>
    </div>

    <div class="category-list">
        <div class="category">
            <div class="title">user님이 시청중인 콘텐츠</div>
            <div class="list">
                <div class="movie">
                    <img src="../static/assets/user님이시청중인콘텐츠/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="../static/assets/user님이시청중인콘텐츠/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="../static/assets/user님이시청중인콘텐츠/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="../static/assets/user님이시청중인콘텐츠/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="../static/assets/user님이시청중인콘텐츠/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="../static/assets/user님이시청중인콘텐츠/movie_1.webp">
                </div>
            </div>
        </div>


        <div class="category">
            <div class="title">추천 시리즈</div>
            <div class="list">
                <div class="movie">
                    <img src="/assets/추천시리즈/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="/assets/추천시리즈/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="/assets/추천시리즈/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="/assets/추천시리즈/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="/assets/추천시리즈/movie_1.webp">
                </div>
                <div class="movie">
                    <img src="/assets/추천시리즈/movie_1.webp">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</div>

<footer>
    <div class = info>
        <span>See 통신판매업신고번호: 제 9999 전화번호: 9999-9999 (수신자 부담)</span> <br> <br>
        <span>대표: 박정현, 조승연</span> <br> <br>
        <span>이메일 주소: qkrwjdgus1441@naver.com</span> <br><br>
        <span>주소: 대한민국</span> <br><br>
        <span>사업자등록번호: 9999-9999-99</span> <br><br>
    </div>
</footer>

<script>
    // 왼쪽 상단에 있는 카테고리바 버튼 함수
    function goToHome() {
        window.location.href = "index.html";
    }
    function goToMovie() {
        alert("영화목록으로 이동");
    }
    function goToContents() {
        alert("신규컨텐츠로 이동")
    }
    function goToWish() {
        alert("찜목록으로 이동")
    }

    // 오른쪽 상단에 있는 카테고리바 버튼 함수
    function goToSearch() {
        alert("검색창 이동")
    }
    function  goToNotifications() {
        alert("알림창 이동")
    }
    function goToProfile() {
        window.location.href = "login_success";
    }


    // 메인에 띄어진 영상 재생버튼 함수
    function playVideo() {
        // 일단 영상 재생이 안되니 메세지만 출력하게 함
        alert("영상재생");
    }

    function infoVideo() {
        // 메세지만 출력
        alert("영상 상세정보")
    }

</script>

</body>
</html>
