.header{
    display: flex;
}
.logo {
    height: 51.3px;
    margin-right: 40px;
}
.nav{
    margin-top: 10px;
    display: flex;
    color: white;
    line-height: 30px;
    font-size: 13px
}
.nav-item{
    padding: 0 10px;
}
.menu{
    display: flex;
    position: absolute;
    top:0;
    right:0;
    margin:20px;
    color: white;
    line-height: 10px;
}
.menu-item{
    padding: 10px;
}
.menu .search{
    padding-right: 30px;
    padding-top: 14px;
}

.profile{
    margin-left: auto;
    margin-top:10px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.banner{
    position: absolute;
    left: 4%;
    top: 60px;
    width: 20%;
    z-index: 1;
    font-size: 15px;
    color: white;
}

.ad-title{
    width: 200%;
    min-width: 200%;
    padding: 15px;
}
.comment{
    text-shadow: 5px 5px 7px black;
    width:max-content;
    font-size: 30px;
}

.description{
    font-size: 19px;
    width: 547px;
    font-weight: 90;
    text-shadow: 5px 5px 3px black;
}

.buttons {
    padding: 20px 0;
    padding-left: 50px; /* 왼쪽 여백 50px 설정 */
    display: flex;
    font-weight: 350;
    margin-top: 10px;
}


.info-button {

    color: white;
    font-size: 12px;
    padding: 10px 25px;
    background-color: rgba(170, 170, 170, 0.55);
    margin-left: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center; /* 버튼 내의 요소들을 세로 중앙에 배치 */
}

.info-button i {
    display: none;
}

.info-button:first-child {
    margin-left: 0;
}

.info-button span {
    margin-left: 5px; /* 아이콘과 텍스트 사이의 간격 조정 */
}