/* 별점 아이콘의 기본 스타일 */
.fa-star {
    font-size: 24px; /* 아이콘 크기 */
    color: #ccc; /* 기본 색상 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 사용자에게 클릭 가능성을 시각적으로 알림 */
}

/* 사용자가 선택한 별점을 강조하는 스타일 */
.fa-star.checked {
    color: gold; /* 선택된 별점의 색상 */
}